<!-- License plate form structure -->
<%- include('partials/header') %>
    <div class="container-md">
        <h1>Strona główna</h1>
    </div>

    <div class="container-md">
        <form action="/search" method="POST" class="number-input-wrapper">
            <!-- License plate structure -->
            <div class="license-plate">
                <!-- Flag section -->
                <div class="license-plate-flag">
                    <div class="polish-flag"></div>
                    <span class="pl-text">PL</span>
                </div>
                <!-- Input container -->
                <div class="license-plate-input-wrapper">
                    <input type="text" name="plate" maxlength="8" placeholder="SR 4657C" id="plate">
                </div>
            </div>
            <!-- Search button -->
            <button type="submit" class="btn btn-primary mt-3">Szukaj</button>
        </form>
    </div>
    <%if(carsByPlate && carsByPlate.length> 0){%>
        <h1 class="container-md ml-3">Znalezione pojazdy:</h1>
        <div class="container-md ml-3 d-flex flex-wrap">
            <% for (let i=0; i < carsByPlate.length; i++) {%>
                <div class="card m-1 w-60 h-30" style="width: 18rem;">
                    <img src="<%= carsByPlate[i].photos_links[0] %>" class="card-img-top img-fluid" alt="Car Image">
                    <div class="card-body">
                        <p class="card-text">
                            <%=carsByPlate[i].full_name%>
                                <%=carsByPlate[i].year%>
                        </p>
                        <h2 class="card-text">
                            <%=carsByPlate[i].plate? carsByPlate[i].plate : "Nie znaleziono" %>
                        </h2>
                        <p class="card-link">
                            <a href="<%=carsByPlate[i].link%>">Oryginalna oferta</a>
                        </p>
                    </div>
                </div>
                <%}%>
        </div>
        <%}%>

            <!-- Script to convert input text to uppercase -->
            <script>
                document.getElementById('plate').addEventListener('input', function (e) {
                    e.target.value = e.target.value.toUpperCase();
                });
            </script>
            <%- include('partials/footer') %>