<%- include('partials/header.ejs') %>
  <h1 class="container-md ml-3">Znalezione pojazdy:</h1>
  <div class="container-md ml-3 d-flex flex-wrap">
    <% for (let i=0; i < list.length; i++) {%>
      <div class="card m-1 w-60 h-30" style="width: 18rem;">
        <img src="<%= list[i].photos_links[0] %>" class="card-img-top img-fluid" alt="Car Image">
        <div class="card-body">
          <p class="card-text">
            <%= list[i].full_name %> - <b>
                <%= list[i].year %>
              </b>
          </p>
          <h2 class="card-text">
            <%= list[i].plate ? list[i].plate : "Nie znaleziono" %>
          </h2>
          <p class="card-link">
            <a href="<%= list[i].link %>">Oryginalna oferta</a>
          </p>
        </div>
      </div>
      <% } %>
  </div>

  <!-- Pagination controls -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4">
      <!-- Previous Page Link -->
      <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <!-- Page Number Links -->
      <% for (let i=1; i <=totalPages; i++) { %>
        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>">
            <%= i %>
          </a>
        </li>
        <% } %>

          <!-- Next Page Link -->
          <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
    </ul>
  </nav>
  <%- include('partials/footer') %>