<%- include('partials/header.ejs') %>
        <h1>carplatezzzz:</h1>

        <% for (let i = 0; i < list.length; i++) {%>
            <div class="card" style="width: 18rem;">
                <img src="<%=list[i].photo_link %>" class="card-img-top" alt="#">
                <div class="card-body">
                  <p class="card-text"><%=list[i].full_name%> <%=list[i].year%> <%=list[i].price_pln%>zł</p>
                  <h2 class="card-text"><%=list[i].plate%></h2>
                </div>
              </div>
        <%} %>
<%- include('partials/footer') %>